In [1]:
import pandas as pd
import numpy as np

In [3]:
def recognise_ints(int_array):
    nests = []
    for s in int_array:
        nests.append(int(s))
    return nests

def recognise_regions(string_array):
    nests = []
    for s in string_array:
        split = s.split('-')
        if len(split) > 1:
            rng = np.arange(int(split[0]),int(split[1])+1, dtype=int)
            nests = list(np.concatenate([nests,rng]).astype('int'))
        elif len(split) ==1:
            print('recognise single int')
    return nests

# load excel

In [4]:
df = pd.read_excel('/Users/maximilianproll/OneDrive - Aalto-yliopisto/project_detect_bird_nests/data/Flights2017_Max/Flight_Card_2017_AirData_in.xlsx')
df.head(2)

,day,month,Flight N,N. Nests Ed,Arrival time,Time flight started,time flight ended,Temp (F)_AirData,cloud cover_AirData,Wind speed (mph)_AirData,Humidity_AirData,weather,Ad. Present at flight start,time when Ad flushed,nest stage,N. eggs found on thermal camera,comments,Frames 0,Frames 1,Frames 2
0,16,5,1_F2_25,5,13:30:00,13:32:00,NaN,53.9,1,2.6,41,sunny,away,NaN,NaN,NaN,NaN,"390-421, 788-821","128-150, 153-184",NaN
1,16,5,2_F4_15,1,13:47:00,13:50:00,NaN,54.9,1,2.5,39,sunny,away,NaN,NaN,NaN,NaN,"677-694, 813-835","319-336, 619-636",NaN

# trim data frame to relevant columns only

In [5]:
col_list = ['Flight N', 'Frames 0', 'Frames 1', 'Frames 2']
df = df[col_list]
df.head(4)

   Flight N                    Frames 0          Frames 1 Frames 2
0   1_F2_25            390-421, 788-821  128-150, 153-184      NaN
1   2_F4_15            677-694, 813-835  319-336, 619-636      NaN
2  3_F2N_15                         NaN               NaN      NaN
3  4_F2S_15  267-302, 363-388, 979-1000     1-12, 961-978      NaN

# create array of dictionaries for each flight and the frames, where nests have been found

In [6]:
nest_array = []
for index, row in df.iterrows():
    
    flight = row['Flight N']
    n0 = row['Frames 0']
    n1 = row['Frames 1']
    n2 = row['Frames 2']
    
    dic = {'Flight':flight, 'Frames 0': n0 ,'Frames 1': n1, 'Frames 2': n2}
    nest_array.append(dic)

In [7]:
nest_array[0]

{'Flight': '1_F2_25',
 'Frames 0': '390-421, 788-821',
 'Frames 1': '128-150, 153-184',
 'Frames 2': nan}

# add to each dictionary an array of all frames, that contain a nest

In [8]:
for flight_dic in nest_array:
    print('Flight:', flight_dic['Flight'])
    new_keys, nests = [], []
    for key,value in flight_dic.items():

        if key != 'Flight':
#             print(key,value)
            if key == 'Frames 0':
                new_keys.append('Nests 0')
            elif key == 'Frames 1':
                new_keys.append('Nests 1')
            elif key == 'Frames 2':
                new_keys.append('Nests 2')
            
            if type(value) == float:
                nests.append([])
                print('\t done with key ', key)
                continue
            str_sp = value.split(',')
    #         print(str_sp)
            if len(str_sp) >1:
    #             print('recognise multiple regions')
    #             nests = list(np.concatenate([nests,recognise_regions(str_sp)]))
    #             print('nests:', recognise_regions(str_sp))
                nests.append(recognise_regions(str_sp))
            elif len(str_sp) == 1:
    #             print(str_sp)
    #             print('recognise single region or single int')
                if len(str_sp[0].split('-')) > 1:
    #                 print('recognise single region')
    #                 print(recognise_regions(str_sp))
    #                 nests = list(np.concatenate([nests,recognise_regions(str_sp)]))
    #                 print('nests:', nests)
                    nests.append(recognise_regions(str_sp))
                elif len(str_sp[0].split('-')) == 1:
    #                 print('recognise single int')
    #                 print(recognise_ints(str_sp))
                    nests.append(recognise_ints(str_sp))
            print('\t done with key ', key)

    for c, key in enumerate(new_keys, 0):
        flight_dic[key] = nests[c]

Flight: 1_F2_25
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 2_F4_15
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 3_F2N_15
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 4_F2S_15
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 5_F4_25
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 6_F2N_15
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 8_F1_25
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 9_F4_25
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 10_F2S_15
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 11_F4_15
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 12_F1A_15
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 13_F1_25
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 14_F4_25
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 15_F2_25
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 17_F1A_15
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 18_F4_15
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 19_F2S_15
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 20_F2N_15
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 21_F1A_15
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 22_F1B_15
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2

In [9]:
i = 4
print(nest_array[i]['Frames 0'])
print(nest_array[i]['Nests 0'])
print()
print(nest_array[i]['Frames 1'])
print(nest_array[i]['Nests 1'])
print()
print(nest_array[i]['Frames 2'])
print(nest_array[i]['Nests 2'])

nan
[]

270-305, 779-816
[270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816]

nan
[]